.background-container {
  height: 100vh;
  width: 100%;
  background-color: #707070;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: 45% center;
}

.background {
  width: 100%;
}

.name-background {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.name-text {
  color: white;
  font-size: 50pt;
  width: 100%;
  text-align: center;
}

.nav-links {
  color: white !important;
  font-size: 10pt;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .nav-links {
    font-size: 20pt;
  }
  .name-text {
    font-size: 100pt;
  }
}
