* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

.title {
  text-align: center;
  font-weight: normal;
  margin: 60px 0 30px 0;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #535353;
  display: flex;
  position: absolute;
  bottom: -100px;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.background-top-container {
  background-image: url("../assets/banner-video.jpg");
  height: 300px;
  width: 100%;
  background-size: 100%;
  position: fixed;
  z-index: -1;
}

.name-top-text {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translate(50%);
  color: white;
  font-weight: normal;
}

.button-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.button-link {
  display: block;
  background-color: #bebebe;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.navbar {
  position: sticky;
  z-index: 3;
  width: 100%;
  top: 0;
  font-size: 18px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.content-container {
  background-color: white;
  margin-top: 300px;
  width: 100%;
  margin-top: 300px;
  padding: 25px 5%;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
}

.nav-links,
.logo:visited {
  color: black;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
  font-weight: bold;
}

.fa-bars {
  color: black;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: gray;
  }
}
