.galierie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.gallery-img {
  filter: grayscale(0.9);
  height: 300px;
  margin: 15px;
  cursor: pointer;
}
.gallery-img:hover {
  filter: grayscale(0);
}

.icon-container {
  height: 100%;
  width: 50px;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.icon-chevron {
  pointer-events: none;
}

.expand {
  max-height: 10000px !important;
}

.uek-box {
  width: 100%;
  min-height: 75px;
  max-width: 800px;
  margin: 30px auto;
  max-height: 75px;
  border: 1px solid #d6d6d6;
  transition: all 0.2s;
  overflow: hidden;
}

.uek-header {
  cursor: pointer;
  width: 100%;
  height: 75px;
  position: relative;
  border-bottom: 1px solid #d6d6d6;
}

.uek-title {
  user-select: none;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
}

.flyer-section {
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flyer-image {
  height: 250px;
}

@media screen and (min-width: 768px) {
  .flyer-image {
    height: 300px;
  }
}
