.portrait-img {
  height: 300px;
  margin: 30px auto;
  display: block;
}

.skill-container {
  margin: 0 5%;
}

.skill {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 10px;
  border: 1px solid black;
  height: 25px;
  position: relative;
  display: flex;
}

.skill-text {
  position: absolute;
  top: -20px;
  font-size: 12px;
}

.skill-percent {
  position: absolute;
  right: 5px;
}

.skill-filling {
  height: 100%;
  background-color: black;
  border-radius: 10px;
  transition: all 0.5s linear;
  position: absolute;
  left: 100%;
}

.fill {
  left: 0;
}
