.picture-workbook {
  height: 200px;
  margin: 15px;
  cursor: pointer;
}

.grade-button {
  color: black;
  text-decoration: none;
}

.workbooks-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.grades-container {
  display: flex;
  justify-content: center;
}

.grade-text {
  text-align: center;
}
